/* base layout */

p, h1, h2, h3, h4, h5, h6, blockquote, figure, div {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.4;
}

.separator::after {
  content: ":";
}

html, body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
#dark-mode-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 48p;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
}

#dark-mode-toggle svg {
    width: 24px;
    height: 24px;
    stroke: #333;
}
*/

html {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #FDF0D8;
  background-color: #6B6D76;
  background-color: #75756B;
  background-color: #F4F6F0;
    /*
    background-color: #547b5d;
    background-image: url('/assets/topography.svg');
    */
  background-color: #2589BD;
  background-color: #187795;
  background-color: #f4f6f0;
  background-color: #496BC1;
  background-color: #4059AD;
  background-color: #4062BB;
  background-color: #5B73C2;
  background-image: url('/assets/graph-paper.svg');
}

body {
  background: #fafafa;
  /*
  color: #201E1F;
  */
  /*
  font-family: "Fira Code Medium", "Fira Code", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "Hack", monospace;
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
*/
  font-family: Consolas, Monaco, "DejaVu Sans Mono", "Courier New", monospace;
  font-size: 17px;
  line-height: 1.5;
  margin-top: 0.5em;
  padding: 2em;
  max-width: 100%;
  /*
  border-radius: 10px;
  */
  font-weight: 400;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  /*
  color: #1F1F1F;
  */
  color: #333333;
}


/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  font-size: 17px;
  line-height: 1.5;
}

header > nav {
  float: none;
  display: flex;
  gap: 1em;
  font-size: 17px;
  line-height: 1.5;
}

header .author-name {
  color: #D72638;
  color: black;
  color: #333333;
}

header .author-name:hover {
  color: blue;
  color: #028090;
  color: #1B9AAA;
  color: red;
  color: #D72638;
}

header .title {
  text-decoration: none;
  color: blue;
  color: #028090;
  color: #1B9AAA;
  color: red;
  color: #D72638;
}


/* typography */

p {
    /*
  color: #323234;
    */
  text-align: justify;
}

.posts p {
  text-align: left;
}

p a strong {
  letter-spacing: -0.03em;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:not(.author-name):not(.title) {
  color: blue;
  color: #028090;
  color: #1B9AAA;
  color: red;
  color: #D72638;
}

a:hover {
  text-decoration: underline;
}


/* code */

pre, pre code, code {
  font-family: inherit;
  white-space: pre;
  background: #e5e5e5;
  border-radius: 0.5ch;
  font-weight: bold;
}

pre {
  border: 1px solid #e1e1e1;
  padding: 0.5rem;
  overflow-x: auto;
}

pre code {
  font-size: 90%;
}

:not(pre) > code {  /* inline code */
  font-size: 90%;
  /*
  font-weight: bold;
  */
  font-weight: normal;
  padding-left: 0.3ch;
  padding-right: 0.3ch;
}


/* figures and images */

figure {
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  border: none; 
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #333333;
}

figure img {
  width: 100%;
}

img.pixel, canvas.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}


/* other */

hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

sup {
  vertical-align: 0.3em;
  font-size: 0.65em;
}   

div.heading {
  font-weight: bold;      
  text-transform: uppercase;
  margin-top: 4ch;
}

blockquote {
  border-left: 4px solid #ccc;
  margin: 1.0em 8px;
  padding: 0.05em 8px;
}

blockquote div {
  text-transform: none;
  text-align: right;
  width: 100%;
}

/* tables */

/*
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}

table, th, td {
    border: 1px solid #666;
}

th, td {
    padding: 0.5em 1em;
    text-align: left;
}

th {
    background-color: #eee;
}
*/

/* tables */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.4;
}

table, th, td {
    border: 1px solid #666;
}

th, td {
    padding: 0.5em 1em;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #eee;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}

caption {
    caption-side: bottom;
    text-align: left;
    padding-top: 0.5em;
}


/* italics */
/* subtle emphasis for new concepts */
em, i {
    font-style: italic;      /* primary cue */
    font-weight: 500;        /* slight emphasis */
}


/* mobiles */

@media (max-width: 500px) {
  * {
    font-size: 12px;
  }

  body {
    padding: 1em;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header > nav {
    margin-top: 0;
    flex-wrap: wrap;
    gap: 0;
  }

    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        border: none;          /* removes outer border */
        box-shadow: none;      /* removes any shadow */
        padding: 0;            /* optional: remove extra space */
    }

    ul, ol {
        padding-left: 1em;
        margin-left: 0;
    }

    li {
        margin-bottom: 0.25em;
    }

    .separator::after {
      content: ":";
      margin: 0 0.25em;
    }
}   


