/* base layout */

p, h1, h2, h3, h4, h5, h6, blockquote, figure, div {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.4;
}

html, body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  width: 100%;
  /*
  background: #BC4B51;
  background: #704E2E;
  background: #448FA3;
  background: #FFFFEA;
  background: #772F1A;
  background: #FFFFEA;
  background: #772F1A;
  background: #BC4B51;
  background: #704E2E;
  background: #448FA3;
   * */
  max-width: 900px;
  margin: 0 auto;
  /*
background-color: #e56b6f;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d0666a' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
background-color: #448fa3;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%233d8193' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-color: #61a9bd;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%235b98a9' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-color: #ffffea;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23e3e3c4' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-color: #495867;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23738290' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
background-color: #514967;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%237d6bae' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
background-color: #496750;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23639970' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
64906e
547b5d
*/
background-color: #547b5d;
background-image: url('/assets/topography.svg');
}

body {
  background: #fafafa;
  /*
  font-family: "Fira Code Medium", "Fira Code", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "Hack", monospace;
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
*/
  font-family: Consolas, Monaco, "DejaVu Sans Mono", "Courier New", monospace;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 0.5em;
  padding: 2em;
  max-width: 100%;
  /*
  border-radius: 10px;
  */
  font-weight: 400;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}


/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  font-size: 20px;
  line-height: 1.5;
}

header > nav {
  float: none;
  display: flex;
  gap: 1em;
  font-size: 18px;
  line-height: 1.5;
}

header .name {
  color: black;
}

header .name:hover {
  color: blue;
}

header .title {
  text-decoration: none;
  color: blue;
}


/* typography */

p {
  text-align: justify;
}

p a strong {
  letter-spacing: -0.03em;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:not(.name):not(.title) {
  color: blue;
}

a:hover {
  text-decoration: underline;
}


/* code */

pre, pre code, code {
  font-family: inherit;
  white-space: pre;
  background: #e5e5e5;
  border-radius: 0.5ch;
  font-weight: bold;
}

pre {
  border: 1px solid #e1e1e1;
  padding: 0.5rem;
  overflow-x: auto;
}

pre code {
  font-size: 90%;
}

:not(pre) > code {  /* inline code */
  font-size: 90%;
  /*
  font-weight: bold;
  */
  font-weight: normal;
  padding-left: 0.3ch;
  padding-right: 0.3ch;
}


/* figures and images */

figure {
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  border: none; 
  max-width: 100%;
  height: auto;
  display: block;
}

figure img {
  width: 100%;
}

img.pixel, canvas.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}


/* other */

hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

sup {
  vertical-align: 0.3em;
  font-size: 0.65em;
}   

div.heading {
  font-weight: bold;      
  text-transform: uppercase;
  margin-top: 4ch;
}

blockquote {
  border-left: 4px solid #ccc;
  margin: 1.0em 8px;
  padding: 0.05em 8px;
}

blockquote div {
  text-transform: none;
  text-align: right;
  width: 100%;
}


/* tables */

/*
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}

table, th, td {
    border: 1px solid #666;
}

th, td {
    padding: 0.5em 1em;
    text-align: left;
}

th {
    background-color: #eee;
}
*/

/* tables */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.4;
}

table, th, td {
    border: 1px solid #666;
}

th, td {
    padding: 0.5em 1em;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #eee;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

caption {
    caption-side: bottom;
    text-align: left;
    font-style: italic;
    padding-top: 0.5em;
    color: #555;
}


/* mobiles */

@media (max-width: 500px) {
  * {
    font-size: 13px;
  }

  body {
    padding: 1em;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header > nav {
    margin-top: 0;
    flex-wrap: wrap;
    gap: 0;
  }
}   


